src export-ignore
package.json export-ignore
package-lock.json export-ignore
.gitignore export-ignore
.gitattributes export-ignore
vite.config.js export-ignore
yarn.lock export-ignore
.github export-ignore
node_modules export-ignore
README.md export-ignore