@use './element-plus.scss';
@use './global_css.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --el-color-primary: #14a3b7;
}

.el-input__wrapper {
  padding: 0px !important;
}
.el-textarea__inner, .el-input__inner {
  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
  border: 1px solid #14a3b7 !important;
}
.wpm_currency_select {
  border: none;
  .el-input__wrapper {
    border: 1px solid #14a3b7 !important;
    .el-input__inner {
      border:none !important;
    }
    &:focus {
      outline: none;
        box-shadow: none;
    }
  }
}
.notice.notice-error {
  display: none !important;
}
