.topnav {
    overflow: hidden;
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 18px;

    /* Style the links inside the navigation bar */
    a {
        min-width: 96px;
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        border: 1px solid #ccc;
        border-radius: 25px;
        margin-bottom: 33px;
    }

    a:focus{
        outline: none !important;
    }
    a:active {
        outline: none !important;
    }
    /* Change the color of links on hover */
    a:hover {
        outline: none !important;
        background-color: #ddd;
        outline: none;
        color: black;
    }

    /* Add a color to the active/current link */
    a.ninja-tab-active {
        background: white;
        color: #ffa92c;
        border-bottom: 2px solid #ffa92c;
    }
}
a:focus{
    outline: none !important;
    box-shadow: none !important;
}
a:active {
    outline: 0 !important;
}
.main-content {
    background: white;
    width: 100%;
    margin-right: 26px;
    border: 1px solid #ffa92b;
    border-radius: 15px;
    .el-collapse-item__header {
        background: none;
    }
    .el-collapse-item__wrap {
        background: none;
    }
    .wpm-btm-preview {
        display: flex;
        align-content: space-around;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.wpm-template {
    &-inner {

    }
    &-bottom {
        margin-top: 20px;
    }
}
.wpm_bmc_main_container {
    padding: 23px;
}
.wpm_bmc_menu_title {
    font-weight: 200;
}
input::placeholder {
    font-style: italic;
    font-weight: 100;
}

.el-input__wrapper {
    padding: 0px !important;
    input {
        border: 1px solid #3f9eff;
    }
}

.wpm_currency_select {
    input {
        border: none;
        background: #fff;
    }
    .is-focus input{
        border: none !important;
        outline: none !important;
    }
    .el-input__wrapper {
        border: 1px solid #3f9eff;
    }
}

.wpm_bmc_payment_settings {
    max-width: 680px;
}

.upcoming_feature_notice {
    position: absolute;
    z-index: 99;
    background: #99e9b4;
    width: 448px;
    box-shadow: 1px 2px 11px #ccc;
    text-align: center;
    font-size: 25px;
    padding: 36px 0px;
    border-radius: 16px;
    margin: 125px auto;
    color: #636363;
    font-family: monospace;
}