.buymecoffee_preview_body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 380px;
    margin: 0 auto;
    max-width: 1000px;
    &_modal {
        max-width: 380px !important;
    }
}
#bmc_modal_wrapper::-webkit-scrollbar {
    display: none;
}
@media (max-width: 960px) {
    .buymecoffee_preview_body {
        flex-direction: column;
    }
}

.bmc_appreciation_title {
    font-weight: 100;
    margin: 0;
    font-size: 20px;
}
h3.buymecoffee_form_to {
    margin: 10px 0px;
    font-size: 30px;
    color: #929191;
    font-weight: 700;
}

span.buymecoffee_form_to {
    color: #c0c0c0;
}

.buymecoffee_your_content_wrapper {
    display: flex;
    align-content: stretch;
    align-items: center;
}

.buymecoffee_form_preview_wrapper {
    width: 345px;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
    border: 1px solid #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    margin: 0 auto;
}

.buymecoffee_preview_header {
    top: 0px;
    left: 0;
    right: 0px;
    padding: 0px 20px 0px 0px;
    background-color: #ebedee;
    color: black;
}

.buymecoffee_preview_header h3 {
    padding:0px 23px;
}

.buymecoffee_preview_footer {
    padding: 10px;
    text-align: right;
    font-size: 13px;
    color: #a0a0a0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
.wpm_bmc_input_content input,
.wpm_bmc_input_content textarea {
    box-sizing: border-box;
    box-shadow: none !important;
    width: 100% !important;
    padding: 4px 12px;
    border: 1px solid #f2f2f2 !important;
    border-radius: 4px;
    resize: vertical;
    box-shadow: none;
    background: #f1f1f178 !important;
    min-height: 35px;
}
.wpm_bmc_custom_quantity{
    padding: 4px !important;
    border: 1px solid #e9e9e9 !important;
    border-radius: 4px !important;
    box-shadow: none;
    background: white !important;
}
.wpm_bmc_custom_quantity,
.wpm_bmc_payment_input_content input,
.wpm_bmc_input_content input{
    height: 30px;
}
.wpm_bmc_payment_input_content {
    background: #b9fff33d;
    border: 1px solid #cffaf7;
    border-radius: 7px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 80px;
}
.wpm_bmc_custom_quantity:focus,
.wpm_bmc_input_content input:focus,
.wpm_bmc_input_content textarea:focus {
    outline: none;
    box-shadow: none;
}
.wpm_bmc_input_content input::placeholder 
{
    color: rgba(109, 135, 142, 0.56);
}
.wpm_bmc_input_content textarea::placeholder
{
    color: rgba(109, 135, 142, 0.56);
}
.wpm_bmc_input_content textarea {
    min-height: 50px;
}
.wpm_bmc_form_item {
    margin-bottom: 14px;
}

.wpm_bmc_currency_prefix {
    font-size: 33px;
    background: #ffc568;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: white;
    width: 59px;
    height: 62px;
    text-align: center;
}
.wpm_bmc_input_content ::placeholder {
    color: #ccc;
    font-size: 12px;
}

.wpm_submit_button {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #89efe8 !important;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.wpm_submit_button:hover {
    background-color: #1db278 !important;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.bmc_coffee input:hover+label {
    background: #ffc568;
    transition-duration: 1s;
}
.buymecoffee_profile_section {
    margin-bottom: 48px;
    &_image {
        display: flex;
    }
}

.buymecoffee_profile_section_image img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    z-index: 999;
    background: #fff;
    margin-top: -65px;
    border: 6px solid #f1f0f0;
}
.buymecoffee_profile_hr {
    height: 100px;
    width: 100%;
    background: #07fff412;
}
.wpm_bmc_no_signup{
    color: #b8b8b8;
    font-size: 12px;
    font-family: sans-serif;
    text-align: center;
}
.bmc_coffee {
    display: flex;
}
.wpm_bmc_coffee_selector {
    display: flex;
    align-items: center;
}
.bmc_coffee input {
    visibility: hidden;
}
input.wpm_bmc_custom_quantity {
    height: 30px;
    display: flex;
    width: 43px;
}
.bmc_coffee label {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 0 !important;
    margin: 0 !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.bmc_coffee input:checked+label {
    background: #b9fff3 !important;
    border-color: #b9fff3;
}
.wpm_bmc_custom_quantity {
    max-width: 60px !important;
    margin-left: 15px !important;
    text-align: center;
}
input.custom_quantity_active {
    background: #b9fff3 !important;
    border-color: #b9fff3;
}
.wpm_bmc_main_container .wpm_bmc_payment_item {
    min-width: 300px;
    border: 1px solid #72e0ce;
    border-radius: 5px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    background: #ccfff633;
    padding: 10px 5px;
}
#buymecoffee_preview_top{
    padding-bottom: 32px;
    min-height: 95vh;
    background: #fff;
}

//confirmation
.wpm_bmc_confirmation{
    padding: 20px;
    min-width: 300px;
    box-shadow: #959da533 0 8px 24px;
    border-left: 5px solid #ff9800;
    margin: 0!important;
    display: flex;
    align-items: center;
}
