form.wpm_submitting_form {
    span.wpm_txt_normal {
      display: none !important;
    }

    span.wpm_txt_loading {
      display: block !important;
    }
}
.wpm_loading_svg {
  display: none;
}
form.wpm_submitting_form {
  background: #fff;
  .wpm_loading_svg {
    position: absolute;
    margin-left: 19px;
    display: inline-block;
  }
}
.wpm_submit_button {
    &:hover {
      background: #ff9800;
    }
    &:disabled {
      background: #f1cd16;
      opacity: 1!important;
    }
}

.wpm_bmc_pay_methods {
  padding: 14px 12px;
  border-radius: 4px;
  background: #fefbf4;
  border: 1px solid #feefd7;
}

.wpm_bmc_pay_method {
  img {
    border: 1px solid #dedede;
    border-radius: 6px;
  }
  img:hover {
    transform: scale(1.1);
  }
  display: flex;
  label {
    margin-right: 23px;
    cursor: pointer;
  }
}